body {
  font-family: "Trebuchet MS", sans-serif;
  background-color: rgba(0, 111, 113, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0, 0, 0, 0;
}

.profileCard {
  background-color: #006f71;
  padding: 20px;
  width: 350px;
  text-align: center;
  color: white;
  min-height: 650px;
  border-radius: 10px;
}

.profileHeader {
  margin-bottom: 20px;
}

.profilePicture {
  width: 150;
  height: 150px;
  border-radius: 10px;
}

.jobTitle {
  font-size: 18px;
  padding: 0px 10px 0px 10px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 15px 0;
}

.links a {
  text-decoration: none;
  transition: transform 0.3s;
}

.buttonDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  text-decoration: none;
  background-color: #a27752;
  padding: 10px;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  transition: background-color 0.3s;
  border: 4px solid #856243;
  text-align: center;
}

.buttonTitle {
  font-size: 22px;
  font-weight: bold;
  display: inline;
}


.buttonIcon {
  vertical-align: middle;
  padding-bottom: 4px;
}


.button:hover {
  background-color: #856243;
}

.aboutBox {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.25s ease;
  border-top: none;
}

.aboutBox.open {
  max-height: 300px;
}
