h1 {
    font-family: "Sedgwick Ave Display", serif;
    font-weight: 400;
    font-style: normal;

    font-size: 60px;
    text-align: center;
  }

p, li {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

html {
    background-color: #006f71;
    padding: 1%;
}

body {
    text-align: center;
    background-color: #D4A984;
    border: 10px solid #A27752;
    border-radius: 50px;
    width: 75%;
    margin: auto;
}

ul {
    list-style: none;
}
 
